@model SistemaNotas1.Models.TbClaseAlumno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbClaseAlumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprobado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprobado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodAlumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodAlumno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodClase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodClase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodClaseAlumno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
