@model IEnumerable<SistemaNotas1.Models.AgregarActividad>

@{
    ViewData["Title"] = "Agregar Actividad";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">

    <h1>Agregar Actividad</h1>

    <p>
        <a asp-action="CrearActividad">Crear Nueva Actividad</a>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Punteo)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.CodClase)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Punteo)
                    </td>
                    @*<td>
                            @Html.HiddenFor(modelItem => item.CodClase)
                        </td>*@
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CodActividad">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CodActividad">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CodActividad">Eliminar</a>

                </td>
                    <td>
                        <a class="btn btn-success" asp-action="AsignarNotas" asp-route-id="@item.CodActividad">NOTAS</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>