@model SistemaNotas1.Models.TbClase

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbClase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodAño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodAño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodJornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodJornada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSeccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSeccion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodClase" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
