@model SistemaNotas1.Models.TbClase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbClase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodAño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodAño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodJornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodJornada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSeccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSeccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodClase">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
