@model SistemaNotas1.Models.Usuarios.AgregarGrados;
@{
    ViewBag.Title = "Agregar Grado";
}
<br />
<br />
<br />
<br />
<br />
<br />
<head>
    @if (ViewBag.showSuccessAlert)
    {
        <script>
            alert('Ya existe un registro similar');
        </script>
    }
</head>

<div class="container" style="width:400px">
    <h2 align="center">Agregar Grado</h2>
    <form action="/TbGradoes/AgregarGrado" enctype="multipart/form-data" method="post">

        @Html.ValidationSummary()
        <div class="form-group">
            <input type="text" class="form-control" name="Nombre" placeholder="Ingrese su Grado" required />
        </div>
        <div class="form-group">
            Nivel:
            @Html.DropDownListFor(model => model.CodNivel, new SelectList(Model.ListaNiveles, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            Grado Siguiente:
            @Html.DropDownListFor(model => model.CodGradoSiguiente, new SelectList(Model.ListaGrados, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            Siguiente Nivel:
            @Html.DropDownListFor(model => model.SiguienteNivel, new SelectList(Model.ListaSigNiveles, "Value", "Text"), new { @class = "form-control" })
        </div>

        @*@foreach (TbGrado item in Model.ListaGrados)
                {
            <div class="form-group">
                Categoria:
                <span>@item.Nombre.ToString()</span>
            </div>

                }*@

        <div align="right"><input type="submit" class="btn btn-primary" name="Registrar" value="Registrar" /></div>

    </form>

</div>